* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}


.loader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    display: none;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidenav {
    top: 60px;
}

.active {
    border-bottom: 1px solid #00ffc3;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


main {
    flex: 1 0 auto;
    overflow-y: scroll;
}

.hero-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.355), rgba(0, 0, 0, 0.355)), url('https://images.unsplash.com/photo-1541339907198-e08756dedf3f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center;
    background-size: cover;
    filter: blur(1px),
        contrast(1.2);
    backdrop-filter: blur(1px) contrast(1.2);
    -webkit-filter: drop-shadow(1px 1px 5px #0000) contrast(1.2);
}


label {
    margin-left: 5px;
}


.profile-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.me-2 {
    margin-right: .5rem !important;
}


#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f8f9fa;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spinner-border {
    width: 4rem;
    height: 4rem;
}

.loader-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
}