# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# Env & Config
.env
.env.*
*.env
*.secret
secrets.json

# System
.DS_Store
.vscode/
.idea/
*.swp
